@media (min-width: 550px) {
  .closeButton {
    display: none !important;
  }
}
@media (max-width: 390px) {
  .menu {
    height: 110vh !important;
  }

  .body {
    padding: 40px !important;
  }
}
.menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgb(41, 41, 41);
  color: white;
  z-index: 2;

  .body {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .nav {
      display: flex;
      flex-direction: column;
      font-size: 56px;
      gap: 35px;
      line-height: 45px;
      margin-top: 20px;

      .header {
        width: 300px;
        display: flex;
        justify-content: start;
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
        
        .closeButton {
          display: block;
          top: 5%;
          left: 75%;
          height: 80px;
          width: 80px;
          position: absolute;
          cursor: pointer;
          border: none;
          font-size: 2.5rem;
        }
      }
      p {
        font-size: 20px;
        color: grey;
      }
      a {
        text-decoration: none;
        color: white;
        font-weight: 300;
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      font-size: 12px;
      margin-top: 130px;
    }
  }
}
