@media (max-width: 1020px) {
  .dec {
    margin-top: 100px !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  .body {
    max-width: 1020px !important;
    gap: 20px !important;
    p {
      &:nth-of-type(1) {
        font-size: 22px !important;
      }
      &:nth-of-type(2) {
        width: 80%;
        color: rgb(149, 144, 144);
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .button {
    margin-top: 10px;
    width: 140px !important;
    height: 140px !important;
    
  }
}
@media (max-width: 750px) {
  .dec {
    // margin-top: 60px !important;
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
  .button {
    width: 120px !important;
    height: 120px !important;
    top: 90% !important;
    p {
      font-size: 12px !important;
    }
  }
}
@media (max-width: 390px) {
  .dec {
    // margin-top: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .body {
    flex-direction: column !important;
  }
}

.dec {
  margin-top: 200px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: center;

  .body {
    display: flex;
    max-width: 1400px;
    gap: 50px;
    // justify-content: space-between;
    position: relative;

    p {
      margin: 0px;

      &:nth-of-type(1) {
        gap: 8px;
        // display: flex;
        // flex-direction: row;
        font-size: 30px;
        line-height: 1.3;

        span {
          margin-right: 3px;
        }
        .mask {
          position: relative;
          display: inline-flex;
          overflow: hidden;
        }
      }
      &:nth-of-type(2) {
        width: 80%;
        color: rgb(149, 144, 144);
        font-size: 18px;
        font-weight: 400;
      }
    }
    .button {
      background-color: #1c1d20;
      color: white;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      top: 80%;
      left: calc(100% - 200px);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      cursor: pointer;
      p {
        position: relative;
        margin: 0px;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
